#{extends 'main.html' /}

#{form @save()}
 
#{ifErrors}
 
   <h1>Oops</h1>
 
   #{errors}
       <li>${error}</li>
   #{/errors}
 
#{/ifErrors}
     

<div id="profileBox">


    <p>
        #{field 'firstname'}
        <label>&{'firstname'}:</label>
        <input type="text" name="${field.name}" 
            value="${profile?.firstname}" class="${field.errorClass}" />
        #{/field}
    </p>
 
   <p>
        #{field 'lastname'}
        <label>&{'lastname'}:</label>
        <input type="text" name="${field.name}" 
            value="${profile?.lastname}" class="${field.errorClass}" />
            
        #{/field}
    </p>
    
     <p>
        #{field 'email'}
        <label>&{'emailaddress'}:</label>
        <input type="text" name="${field.name}" 
            value="${profile?.email}" class="${field.errorClass}" />
        #{/field}
    </p>
    
     <p>
        #{field 'gender'}
        <label>&{'gender'}:</label>
        <input type="text" name="${field.name}" 
            value="${profile?.gender}" class="${field.errorClass}" />
        #{/field}
    </p>
  	<p>
        #{field 'phonenumber'}
        <label>&{'phonenumber'}:</label>
        <input type="text" name="${field.name}" 
            value="${profile?.phonenumber}" class="${field.errorClass}" />
        #{/field}
    </p>
    <p>
        <input type="submit" value="Save Profile" />
    </p>
    
    </div>
#{/form}
