<b>Assigned Tasks</b>
<br>
#{ifnot _ta.tasks} 
<p>no tasks have been assigned</p>
#{/ifnot}
#{else}  

#{list _ta, as:'taskAssignment'}
	
	 <table width="100%">
        <tr>
        	<th>Status</th>
            <th>Task</th>
            <th>Description</td>
            <th>Location</th>
        </tr>
        	#{list taskAssignment.tasks, as:'task'}
	
	
            <tr>
                <td><input type="checkbox" ${task.done ? 'checked' : ''} id="${task.id}"></input></td>
                <td>${task.title}</td>
                <td>${task.description}</td>
                <td>${task.list}</td>             
            </tr>
            #{/list}
	</table>

	
#{/list}
 
 

#{/else}

