<b>&{'assignedtasks'}</b>
<br>
#{ifnot _ta.tasks} 
<p>&{'noassignedtasks'}</p>
#{/ifnot}
#{else}  

<br>

 
        
#{list _ta, as:'taskAssignment'}
	
		<table width="100%">
        <tr>
        	<th>&{'status'}</th>
            <th>&{'task'}</th>
            <th>&{'description'}</td>
            <th>&{'location'}</th>
        </tr>
        
        <tr>
	 		<th>&nbsp</th>
            <th></th>
            <th></td>
            <th></th>
        </tr>
        	#{list taskAssignment.tasks, as:'task'}
	
	
            <tr>
                <td><input type="checkbox" ${task.done ? 'checked' : ''} id="${task.id}"></input></td>
                <td>${task.title}</td>
                <td>${task.description}</td>
                <td>${task.list}</td>             
            </tr>
            #{/list}
	
		</table>
	
#{/list}

 

#{/else}

