@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
}
.bannerClass {
	background-image: url(top.png);
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	height: 211px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.loginLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 009444;
}

#loginBox {
	position:absolute;
	left:383px;
	top:208px;
	width:701px;
	height:268px;
	z-index:1;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
